.contenedor{
    max-width: 1500px;
    width: 90%;
    position: absolute;
    top: 15px;
    left: 50px;
}
.menu{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
}
    
li{
    list-style: none;
    margin-right: 25px;
    color: white;
    }
    .carousel-control-prev{
        color: white;
    }
    .carousel-item{
        margin-top: 0%;
    }
    .posicion{
        position: relative;
    }
    .menu p{
        color: white;
    }
   