body{
    font-family: 'Raleway', sans-serif;
}


.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
    
    
}
.navbar{
    z-index: 2;
    
    
}   
.navbar-brand{
    margin-left: 120px;
}
#navbarSupportedContent{
    margin-right: 110px;
}
main{
    background-color: black;
    min-height: 2000px;
}
h2{
    text-align: center;
    color: white;
    padding-top: 30px;
    
}
hr{
    color:#007bff;
    width: 95%;
    size: 4px;
    z-index: 2;
}
i{
    color:white;
    list-style: none;
    

    
  }
  .col{
      text-align: center;
  }
  .decolumna{
      text-align: justify;
  }
  p{
      text-align: justify;
      color: white;
  }
  html {
    scroll-behavior: smooth;
  }
  .rect{
      width: 100%;
      height: 50px;
     background-color: blue;
     
      }

    .destacados{
        margin-top: 50px;
        padding-top: 70px;
    }
    .tarjeta{
        padding-right: 0px;
        padding-left: 0px;
    }
    .card-img-top{
        height: 169px;
    }
    div.card-body{
        height: 244px;
    }
    .contacto{
        margin-top: 50px;
        padding-top: 70px;
    }