body{
    font-family: 'Raleway', sans-serif;
}


.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
    
    
}
.navbar{
    z-index: 2;
    
    
}   
.navbar-brand{
    margin-left: 120px;
}
#navbarSupportedContent{
    margin-right: 110px;
}
main{
    background-color: black;
    
}
h2{
    text-align: center;
    color: white;
    padding-top: 30px;
    
}
hr{
    color:#007bff;
    width: 95%;
    size: 4px;
    z-index: 2;
}
.favicon{
    color:white;
    list-style: none;
    

    
  }
  .col{
      text-align: center;
  }
  .decolumna{
      text-align: justify;
  }
  p{
      text-align: justify;
      color: white;
  }
  html {
    scroll-behavior: smooth;
  }
  .rect{
      width: 100%;
      height: 50px;
     background-color: blue;
     
      }

    .destacados{
        margin-top: 50px;
        padding-top: 70px;
    }
    .tarjeta{
        padding-right: 0px;
        padding-left: 0px;
    }
    .card-img-top{
        height: 169px;
    }
    div.card-body{
        height: 244px;
    }
    .contacto{
        margin-top: 50px;
        padding-top: 70px;
        margin-bottom: 50px;
    }
    .pie{
        background-color: cornflowerblue;
        height: 50px;
        margin-top: 10pxs;
        
    }
    li{
        list-style: none;
    }
    i{
        list-style: none;
    }
    .fa-github{
        color: #007bff;
    }
    .fa-linkedin{
        color:#007bff ;
    }
    .fa-twitter-square{
        color:#007bff ;
    }
    .fa-facebook{
        color:#007bff ;
    }
    .final{
        display: flex;
        justify-content: space-between;
    }
    .finalizacion li{
        display: inline;
        padding: 0 5px 0 5px;
    }
    .finalizacion{
        margin-top: 12px;
    }
    .final p{
        margin-top: 12px;
    }
    .logo{
        height: 16px;
        width: 16px;
    }
   